In [307]:
import pandas as pd

In [308]:
from pathlib import Path

In [309]:
filepath = "/Users/jeremyseidman/Desktop/Trilogy/cu-nyc-virt-fin-pt-03-2021-u-c/02-Homework/02-Python/Instructions/PyBank/Resources/budget_data.csv"

dataframe = pd.read_csv(filepath,index_col='Date', infer_datetime_format=True, parse_dates=True)

In [310]:
dataframe["+/- change"] = (dataframe["Profit/Losses"] - dataframe["Profit/Losses"].shift(1))

In [311]:
dataframe.head

<bound method NDFrame.head of             Profit/Losses  +/- change
Date
2010-01-01         867884         NaN
2010-02-01         984655    116771.0
2010-03-01         322013   -662642.0
2010-04-01         -69417   -391430.0
2010-05-01         310503    379920.0
2010-06-01         522857    212354.0
2010-07-01        1033096    510239.0
2010-08-01         604885   -428211.0
2010-09-01        -216386   -821271.0
2010-10-01         477532    693918.0
2010-11-01         893810    416278.0
2010-12-01         -80353   -974163.0
2011-01-01         779806    860159.0
2011-02-01        -335203  -1115009.0
2011-03-01         697845   1033048.0
2011-04-01         793163     95318.0
2011-05-01         485070   -308093.0
2011-06-01         584122     99052.0
2011-07-01          62729   -521393.0
2011-08-01         668179    605450.0
2011-09-01         899906    231727.0
2011-10-01         834719    -65187.0
2011-11-01         132003   -702716.0
2011-12-01         309978    177975.0
2012-01-01        -755566  -1065544.0
2012-02-01        1170593   1926159.0
2012-03-01         252788   -917805.0
2012-04-01        1151518    898730.0
2012-05-01         817256   -334262.0
2012-06-01         570757   -246499.0
...                   ...         ...
2014-09-01        1166643    365942.0
2014-10-01         947333   -219310.0
2014-11-01         578668   -368665.0
2014-12-01         988505    409837.0
2015-01-01        1139715    151210.0
2015-02-01        1029471   -110244.0
2015-03-01         687533   -341938.0
2015-04-01        -524626  -1212159.0
2015-05-01         158620    683246.0
2015-06-01          87795    -70825.0
2015-07-01         423389    335594.0
2015-08-01         840723    417334.0
2015-09-01         568529   -272194.0
2015-10-01         332067   -236462.0
2015-11-01         989499    657432.0
2015-12-01         778237   -211262.0
2016-01-01         650000   -128237.0
2016-02-01       -1100387  -1750387.0
2016-03-01        -174946    925441.0
2016-04-01         757143    932089.0
2016-05-01         445709   -311434.0
2016-06-01         712961    267252.0
2016-07-01       -1163797  -1876758.0
2016-08-01         569899   1733696.0
2016-09-01         768450    198551.0
2016-10-01         102685   -665765.0
2016-11-01         795914    693229.0
2016-12-01          60988   -734926.0
2017-01-01         138230     77242.0
2017-02-01         671099    532869.0

[86 rows x 2 columns]>

In [312]:
dataframe.head(87)

            Profit/Losses  +/- change
Date
2010-01-01         867884         NaN
2010-02-01         984655    116771.0
2010-03-01         322013   -662642.0
2010-04-01         -69417   -391430.0
2010-05-01         310503    379920.0
2010-06-01         522857    212354.0
2010-07-01        1033096    510239.0
2010-08-01         604885   -428211.0
2010-09-01        -216386   -821271.0
2010-10-01         477532    693918.0
2010-11-01         893810    416278.0
2010-12-01         -80353   -974163.0
2011-01-01         779806    860159.0
2011-02-01        -335203  -1115009.0
2011-03-01         697845   1033048.0
2011-04-01         793163     95318.0
2011-05-01         485070   -308093.0
2011-06-01         584122     99052.0
2011-07-01          62729   -521393.0
2011-08-01         668179    605450.0
2011-09-01         899906    231727.0
2011-10-01         834719    -65187.0
2011-11-01         132003   -702716.0
2011-12-01         309978    177975.0
2012-01-01        -755566  -1065544.0
2012-02-01        1170593   1926159.0
2012-03-01         252788   -917805.0
2012-04-01        1151518    898730.0
2012-05-01         817256   -334262.0
2012-06-01         570757   -246499.0
...                   ...         ...
2014-09-01        1166643    365942.0
2014-10-01         947333   -219310.0
2014-11-01         578668   -368665.0
2014-12-01         988505    409837.0
2015-01-01        1139715    151210.0
2015-02-01        1029471   -110244.0
2015-03-01         687533   -341938.0
2015-04-01        -524626  -1212159.0
2015-05-01         158620    683246.0
2015-06-01          87795    -70825.0
2015-07-01         423389    335594.0
2015-08-01         840723    417334.0
2015-09-01         568529   -272194.0
2015-10-01         332067   -236462.0
2015-11-01         989499    657432.0
2015-12-01         778237   -211262.0
2016-01-01         650000   -128237.0
2016-02-01       -1100387  -1750387.0
2016-03-01        -174946    925441.0
2016-04-01         757143    932089.0
2016-05-01         445709   -311434.0
2016-06-01         712961    267252.0
2016-07-01       -1163797  -1876758.0
2016-08-01         569899   1733696.0
2016-09-01         768450    198551.0
2016-10-01         102685   -665765.0
2016-11-01         795914    693229.0
2016-12-01          60988   -734926.0
2017-01-01         138230     77242.0
2017-02-01         671099    532869.0

[86 rows x 2 columns]

In [313]:
totalmonths = len(dataframe)
totalmonths

86

In [314]:
nettotal = sum(dataframe["Profit/Losses"])
nettotal

38382578

In [315]:
maxprofit = 0
maxloss = 0
row = 0

maxprofit = dataframe["+/- change"].max()
minprofit = dataframe["+/- change"].min()

print(maxprofit)
print(minprofit)

dataframe = dataframe.dropna()

avgchange = sum(dataframe["+/- change"])/(totalmonths)
print(avgchange)

monthmost = dataframe.loc[dataframe["+/- change"]==maxprofit] 
print(monthmost)

monthleast = dataframe.loc[dataframe["+/- change"]==minprofit] 
print(monthleast)

1926159.0
-2196167.0
-2288.1976744186045
            Profit/Losses  +/- change
Date
2012-02-01        1170593   1926159.0
            Profit/Losses  +/- change
Date
2013-09-01       -1196225  -2196167.0

In [316]:
txtfile = Path("analysis.txt")

In [317]:
with open (txtfile, "w") as txt:
    txt.write("Financial Analysis \n")
    txt.write("---------------------------- \n")
    txt.write(f"Total Months: {totalmonths} \n")
    txt.write(f"Total: ${nettotal:.2f} \n")
    txt.write(f"Average  Change: ${avgchange:.2f} \n")
    txt.write(f"Greatest Increase in Profits: \n {monthmost} \n")
    txt.write(f"Greatest Decrease in Profits: \n {monthleast} \n")